@import "animations";

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

$font: Garamond;
$dark-main-color: #ff7315;
$main-color: #ff851b;
$lighten-black: #3a3535;
$break-contact: 840px;
$laptop: 1024px;
$desktop: 1440px;
$box-shadow: 5px 10px 18px #888888;

@mixin contact {
  @media (min-width: #{$break-contact}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$laptop}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

//Gallery
.gallery {

  padding: 2em 0;

  h1 {
    font-family: $font;
    text-align: center;
  }
}

#carousel {
  margin: 1.5em auto;
  width: 90%;

  .carousel-indicators li {
    background-color: black;
  }
}

.carousel-item img {
  filter: brightness(82%);
  border: 1px solid $lighten-black;
  height: 300px;
}

.carousel-caption {
  color: black;
  background-color: white;
  opacity: 0.7;
}

.carousel-control-next,
.carousel-control-prev {
  opacity: 1;
  color: black;
}

.page-one {
  font-family: $font;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)) fixed,
    url("../images/peking-duck2.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  h1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    animation: bounceInUp 2s;
  }

  h1::after {
    content: "Affordable and delicious";
    font-style: italic;
    font-size: 0.5em;
    display: block;
    font-family: "Times New Roman", Times, serif;
    font-weight: normal;
    padding: 2em 5em 1em;
    text-transform: capitalize;
    margin-bottom: 3em;
  }

  a {
    border: 2px solid $main-color;
    padding: 1em;
    color: $main-color;
    text-decoration: none;
    font-size: 1.1em;
    animation: bounceInRight 2s;
    font-weight: bold;
  }

  a:hover {
    color: white;
    border: 2px solid white;
  }
}

.about {
  font-family: $font;
  text-align: center;
  padding: 3em 2em;
  position: relative;

  h1 {
    position: relative;
    margin-bottom: 1em;
  }

  p {
    font-size: 1.2em;
    padding: 0 1em;
  }
}

.section-header::after {
  content: "";
  position: absolute;
  border-top: 1px solid $lighten-black;
  width: 15vw;
  left: 50%;
  transform: translateX(-50%);
  padding-left: -1.5em;
  display: block;
  margin-top: 0.5em;
}

.menu-container {
  font-family: $font;
  padding: 3em 1em;
  background: #eeeeee;

  h1 {
    text-align: center;
    color: $dark-main-color;
  }

  .card {
    margin: 1em;
  }
}

.menu {
  padding: 1em 0;
}

.card {
  text-align: center;
  min-height: 250px;
}

.card-text {
  margin-top: 1em;
}

.card-title {
  text-transform: uppercase;
  font-weight: bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.collapse-btn {
  background-color: $lighten-black;
  color: white;
}

.circle-border {
  border-radius: 50%;
}


//Menu Item
.item-container {
  padding: 0 2em;

  .item-name {
    font-weight: bold;
    font-size: 1.5em;
  }

  .item-desc {
    padding: 0.5em 0;
    font-size: 1.2em;
    text-align: left;

  }

  .item-price {
    color: $main-color;
    font-size: 1.2em;
    text-align: right;
  }
}

.item-divider {
  margin: 1em 0;
  color: gray;
  opacity: 0.2;
}


//Contact page
.contact {
  font-family: $font;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)) fixed,
    url("../images/Rack3-o.jpg") center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  line-height: 2;
  font-size: 1.2em;
  padding-bottom: 2em;
  box-shadow: $box-shadow;
  height: 100vh;

  .contact-container {
    .statement {
      color: $main-color;
      font-weight: bold;
    }

    .statement2,
    .number,
    .hours {
      margin-bottom: 1.5em;
    }

    #locationheader,
    #hoursheader {
      text-transform: uppercase;
      margin-bottom: 1em;
      color: $main-color;
    }

    .days {
      font-weight: bolder;
    }

    .email {
      color: $main-color;
      font-weight: bolder;
      font-family: $font;
      font-size: 1.1em;
      display: flex;
      flex-direction: column;
    }
  }
}