@import url("https://fonts.googleapis.com/css?family=DM+Sans|Josefin+Sans&display=swap");
@-webkit-keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

@-webkit-keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.gallery-textContainer {
  text-align: center;
  font-family: Garamond;
  font-size: 1.5em;
  padding: 1.5em;
}
@media (min-width: 651px) {
  .gallery-textContainer {
    padding: 1em 2.5em 2em;
  }
}
@media (min-width: 767px) {
  .gallery-textContainer {
    padding: 2em 4em;
  }
}

#carousel .carousel-indicators li {
  background-color: black;
}
@media (min-width: 651px) {
  #carousel {
    width: 90%;
    margin: 3em auto 0em;
    border: 1px solid #3a3535;
  }
}
@media (min-width: 1024px) {
  #carousel {
    width: 70%;
    box-shadow: 5px 10px 18px #888888;
  }
}
@media (min-width: 1385px) {
  #carousel {
    width: 60%;
  }
}
@media (min-width: 1650px) {
  #carousel {
    width: 50%;
  }
}

.carousel-item img {
  filter: brightness(82%);
}

.carousel-caption {
  color: black;
  background-color: white;
  opacity: 0.7;
}

.carousel-control-next,
.carousel-control-prev {
  opacity: 1;
  color: black;
}

.page-one {
  font-family: Garamond;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)) fixed, url("../images/peking-duck2.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.page-one h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  animation: bounceInUp 2s;
}
.page-one h1::after {
  content: "Affordable and delicious";
  font-style: italic;
  font-size: 0.5em;
  display: block;
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  padding: 2em 5em 1em;
  text-transform: capitalize;
  margin-bottom: 3em;
}
.page-one a {
  border: 2px solid #ff851b;
  padding: 1em;
  color: #ff851b;
  text-decoration: none;
  font-size: 1.1em;
  animation: bounceInRight 2s;
  font-weight: bold;
}
.page-one a:hover {
  color: white;
  border: 2px solid white;
}

.about {
  text-align: center;
  padding: 3em 2em;
}
@media (min-width: 651px) {
  .about {
    padding: 4em 2em;
  }
}
@media (min-width: 1024px) {
  .about {
    padding: 6em 3.5em;
  }
}
.about h1 {
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 1em;
}
@media (min-width: 1024px) {
  .about h1 {
    margin-bottom: 1em;
    font-size: 3em;
  }
}
@media (min-width: 1385px) {
  .about h1 {
    margin-bottom: 1.5em;
  }
}
.about p {
  font-family: Garamond;
  font-size: 1.2em;
  padding: 0 1em;
}
@media (min-width: 651px) {
  .about p {
    padding: 0 3em;
    font-size: 1.3em;
  }
}
@media (min-width: 767px) {
  .about p {
    padding: 0 5em;
  }
}
@media (min-width: 1024px) {
  .about p {
    font-size: 1.4em;
    line-height: 1.9em;
  }
}
@media (min-width: 1385px) {
  .about p {
    width: 60%;
    margin: 0 auto;
  }
}

.section-header::after {
  content: "";
  position: absolute;
  border-top: 1px solid #3a3535;
  width: 15vw;
  left: 50%;
  transform: translateX(-50%);
  padding-left: -1.5em;
  display: block;
  margin-top: 0.5em;
}
@media (min-width: 767px) {
  .section-header::after {
    width: 7vw;
  }
}

.menu-container {
  font-family: Garamond;
  padding: 6em 1em 4em;
  background: #f9f6f7;
}
@media (min-width: 651px) {
  .menu-container {
    padding: 6em 5em 4em;
  }
}
@media (min-width: 1024px) {
  .menu-container {
    display: flex;
    padding: 6em 2em 4em;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (min-width: 1385px) {
  .menu-container {
    justify-content: center;
  }
}

.menu {
  padding: 1em 0;
}
@media (min-width: 767px) {
  .menu {
    display: flex;
    flex-wrap: wrap;
  }
}

.prevent-stretch {
  align-self: flex-start;
}

.card {
  text-align: center;
  min-height: 450px;
  position: relative;
  z-index: 2;
  margin-bottom: 2em;
}
@media (min-width: 1024px) {
  .card {
    width: 45%;
  }
}
@media (min-width: 1385px) {
  .card {
    width: 40%;
    margin: 2em;
  }
}
@media (min-width: 1650px) {
  .card {
    width: 35%;
  }
}

clipPath {
  clip-path: polygon(0 50%, 100% 50%, 100% 0, 0 0);
  position: absolute;
  background-color: #3a3535;
  max-height: 400px;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.card-text {
  padding: 1em;
  font-size: 1.2em;
  margin: 0;
}
@media (min-width: 1024px) {
  .card-text {
    min-height: 100px;
  }
}

.card-title {
  margin-bottom: 1em;
  border-radius: 10px;
  padding: 0.5em;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bolder;
  color: #ff9f00;
}

.collapse-btn {
  background-color: #ff9f00;
}

.circle-border {
  border-radius: 50%;
  border: 5px solid #eeeeee;
}

.item-container {
  padding: 0 2em;
}
.item-container .item-name {
  font-weight: bold;
  font-size: 1.5em;
}
.item-container .item-desc {
  padding: 0.5em 0;
  font-size: 1.2em;
  text-align: left;
}
.item-container .item-price {
  color: #ff851b;
  font-size: 1.2em;
  text-align: right;
}
@media (min-width: 767px) {
  .item-container {
    width: 50%;
    margin-bottom: 1em;
  }
}
@media (min-width: 1024px) {
  .item-container {
    padding: 0 1em;
  }
}

.item-divider {
  margin: 1em 0;
  color: #ff7315;
}
@media (min-width: 767px) {
  .item-divider {
    display: none;
  }
}

.contact {
  font-family: Garamond;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)) fixed, url("../images/Rack3-o.jpg") center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  line-height: 2;
  font-size: 1.2em;
  padding: 2em 0;
  box-shadow: 5px 10px 18px #888888;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact .number {
  margin-bottom: 0;
}
@media (min-width: 1024px) {
  .contact {
    font-size: 1.4em;
  }
}
.contact .contact-container section {
  margin-bottom: 2em;
}
.contact .contact-container .email {
  font-size: 1.1em;
}
@media (min-width: 1024px) {
  .contact .contact-container {
    background: #232020;
    margin: 0 auto;
    padding: 3em;
    border: 2px solid black;
  }
}
.contact .contact-container .statement {
  color: #ff851b;
  font-weight: bold;
}
.contact .contact-container h1 {
  color: #eeeeee;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
}
@media (min-width: 651px) {
  .contact .contact-container h1 {
    margin-bottom: 1em;
  }
}
.contact .contact-container #locationheader,
.contact .contact-container #hoursheader {
  text-transform: uppercase;
  margin-bottom: 0.5em;
  color: #ff851b;
}
.contact .contact-container .days {
  font-weight: bolder;
}
.contact .contact-container .contact-header-container {
  display: flex;
  justify-content: center;
}
.contact .contact-container .contact-header-container i {
  margin-right: 0.5em;
  vertical-align: sub;
  color: #ff851b;
}

/*# sourceMappingURL=style.css.map */
