@-webkit-keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

@-webkit-keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.fade-on-scroll {
  animation: fadeIn 3s;
}

.hidden {
  opacity: 0;
}

#carousel {
  margin: 0 auto 3em;
  width: 95%;
}
#carousel .carousel-indicators li {
  background-color: black;
}

.carousel-item img {
  filter: brightness(82%);
  border: 1px solid gray;
  height: 300px;
}

.carousel-caption {
  color: black;
  background-color: white;
  opacity: 0.7;
}

.carousel-control-next,
.carousel-control-prev {
  opacity: 1;
  color: black;
}

.side-nav {
  position: fixed;
  z-index: 1;
  background: transparent;
  padding: 1em;
  animation: bounceInRight 2s;
}
.side-nav a {
  color: #ff851b;
}
.side-nav a i:hover {
  color: white;
}

.page-one {
  font-family: Garamond;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)) fixed, url("../images/peking-duck2.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.page-one h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  animation: bounceInUp 2s;
}
.page-one h1::after {
  content: "Affordable and delicious";
  font-style: italic;
  font-size: 0.5em;
  display: block;
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  padding: 2em 5em 1em;
  text-transform: capitalize;
  margin-bottom: 3em;
}
.page-one a {
  border: 2px solid #ff851b;
  padding: 1em;
  color: #ff851b;
  text-decoration: none;
  font-size: 1.1em;
  animation: bounceInRight 2s;
  font-weight: bold;
}
.page-one a:hover {
  color: white;
  border: 2px solid white;
}

.about {
  font-family: Garamond;
  text-align: center;
  padding: 3em 2em 1.5em;
  position: relative;
}
.about h1 {
  position: relative;
  margin-bottom: 1em;
}
.about p {
  font-size: 1.2em;
  padding: 0 1em;
}
.about h1::after {
  content: "";
  position: absolute;
  border-top: 1px solid gray;
  width: 15vw;
  left: 50%;
  transform: translateX(-50%);
  padding-left: -1.5em;
  display: block;
  margin-top: 0.5em;
}

.menu-container {
  font-family: Garamond;
  margin: 0 2em;
}
.menu-container h1 {
  margin-bottom: 0.5em;
  text-align: center;
}
.menu-container h1 .menu .item-header {
  font-weight: bold;
  margin-bottom: 1em;
  text-transform: uppercase;
  color: #ff851b;
  text-align: center;
  border: 1px solid #ff851b;
}
.menu-container h1 .menu .combos {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 0.5em;
}
.menu-container h1 .menu .combos .item-container {
  padding: 1em;
}
.menu-container h1 .menu .combos .item-container .item-name {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}
.menu-container h1 .menu .combos .item-container .item-desc {
  font-weight: 300;
}
.menu-container h1 .menu .combos .item-container .item-price {
  color: #ff851b;
  text-align: right;
}
.menu-container h1 .menu .final-desc {
  text-align: center;
  margin-bottom: 2em;
  font-weight: bold;
  color: #ff851b;
}
.menu-container .contact {
  font-family: Garamond;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)) fixed, url("../images/Rack3-o.jpg") center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  line-height: 2;
  font-size: 1.2em;
  padding-bottom: 2em;
  box-shadow: 5px 10px 18px #888888;
}
.menu-container .contact .contact-container .statement {
  color: #ff851b;
  font-weight: bold;
}
.menu-container .contact .contact-container .statement2,
.menu-container .contact .contact-container .number,
.menu-container .contact .contact-container .hours {
  margin-bottom: 1.5em;
}
.menu-container .contact .contact-container #locationheader,
.menu-container .contact .contact-container #hoursheader {
  text-transform: uppercase;
  margin-bottom: 1em;
  color: #ff851b;
}
.menu-container .contact .contact-container .days {
  font-weight: bolder;
}
.menu-container .contact .contact-form {
  box-shadow: 4px 4px 8px #4a4a4a;
  padding: 2em;
  width: 70%;
  margin: 0 auto;
  border: 2px solid #4a4a4a;
  background: #2c2c2c;
}
.menu-container .contact .contact-form h4 {
  color: #ff851b;
  font-weight: bold;
}
.menu-container .contact .contact-form .line {
  width: 100%;
  border-top: 2px solid #ff851b;
  margin-top: 1em;
  margin-bottom: 2.5em;
}
.menu-container .contact .contact-form textarea {
  background: #4a4a4a;
  color: #f0f0f0;
  border: 4px solid #ff851b;
  outline: 0;
  font-size: 20px;
  line-height: 1em;
}
.menu-container .contact .contact-form label {
  display: block;
}
.menu-container .contact .contact-form label .label-text {
  transform: translateY(-47px);
  color: #ff851b;
  letter-spacing: 1.5px;
  text-transform: capitalize;
  font-size: 1.2em;
  transition: 0.3s all;
}
.menu-container .contact .contact-form label input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #f0f0f0;
  color: #f0f0f0;
  outline: 0;
  transition: width 0.35s ease-in-out;
  width: 65%;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.5em;
}
.menu-container .contact .contact-form label input:focus {
  width: 85%;
  border-bottom: 1px solid #ff851b;
}
.menu-container .contact .contact-form label input:focus + .label-text {
  transform: translateY(-80px);
  font-size: 0.8em;
  color: #ff851b;
}
.menu-container .contact .contact-form label input:valid + .label-text {
  transform: translateY(-80px);
  text-align: left;
}
.menu-container .contact .contact-form label input:valid {
  color: #f0f0f0;
  border-bottom: 1px solid #ff851b;
}
.menu-container .contact .contact-form .sendbtn {
  border-radius: 27px;
  width: 30%;
  border: 3px solid #4a4a4a;
  font-weight: bold;
  height: 3em;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  background: #ff851b;
  color: #f0f0f0;
}
.menu-container .contact .contact-form .sendbtn:hover {
  background: #4a4a4a;
  border: 3px solid #f0f0f0;
}
.menu-container .contact #sentmsg {
  color: #ff851b;
  font-weight: bold;
  font-size: 1em;
}

/*# sourceMappingURL=style.css.map */
