* {
    margin: 0;
    padding: 0;
}

$font: Garamond;
$main-color: #FF851B;
$lighten-black: lighten(black, 50%);
$break-contact: 840px;
$laptop: 1024px;
$desktop: 1440px;

@mixin contact {
    @media (min-width: #{$break-contact}) {
        @content;
    }
}

@mixin laptop {
    @media (min-width: #{$laptop}){
        @content;
    }
}

@mixin desktop{
    @media (min-width: #{$desktop}){
        @content;
    }
}

.side-nav{
    position: fixed;
    z-index: 1;
    background: transparent;
    padding: 1em;

    a{
        color: $main-color;
    }

    a:hover{
        color: white;
    }

    a:visited{
        color: $main-color;
    }
}

.page-one{
    font-family: $font;
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55) ) fixed, url('./images/peking-duck2.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;

        @include laptop{
            font-size: 3em;
        }
    }

    h1::after{
        content: 'Affordable and delicious';
        font-style: italic;
        font-size: .5em;
        display: block;
        font-family: 'Times New Roman', Times, serif;
        font-weight: normal;
        padding: 1em 5em;
        text-transform: capitalize;
        margin-bottom: 3em;

        @include laptop{
            margin-bottom: 1em;
        }
    }

    a{
        border: 2px solid $main-color;
        padding: 1em;
        color: $main-color;
        text-decoration: none;
        font-size: 1.1em;
    }
}

.about{
    font-family: $font;
    text-align: center;
    padding: 3em 2em;
    position: relative;

    h1{
        position: relative;
        margin-bottom: 1em;
        font-weight: bold;

        @include desktop{
            font-size: 3em;
        }
    }

    p{
        padding: 0 2em;

        @include laptop{
            font-size: 1.2em;
            padding: 0 4em;
        }

        @include desktop{
            padding: 0 6em;
            font-size: 1.5em;
        }
    }

    h1::after{
        content: '';
        position: absolute;
        border-top: 1px solid $lighten-black;
        width: 30vw;
        left: 50%;
        transform: translateX(-50%);
        padding-left: -1.5em;
        display: block;
        margin-top: 0.5em;

        @include laptop{
            width: 8vw;
        }
    }
}


.about::after{
    content: '';
    margin-top: 1em;
    border-top: 1px solid $lighten-black;
    position: absolute;
    width: 30vw;
    transform: translateX(-50%);
    left: 50%;

    @include laptop{
        width: 8vw;
    }
}

.photo-grid{
    display: flex;
    flex-direction: column;
    font-family: $font;
    margin-bottom: 2em;

    h1{
        text-align: center;
        margin-bottom: .75em;
        font-weight: bold;

        @include desktop{
            font-size: 3em;
        }
    }
    
    .photo{
        margin: 0 auto 2em;

        img {
            max-width: 80vw;
            height: auto;
            border: 1px solid $lighten-black;
            padding: .25em;

            @include laptop{
                max-width: 50vw;
            }
        }
    }

    .photo:last-child::after{
        content: '';
        margin-top: 2.5em;
        border-top: 1px solid $lighten-black;
        position: absolute;
        width: 30vw;
        transform: translateX(-50%);
        left: 50%;

        @include laptop{
            width: 8vw;
        }
    }
}

.menu-container{
    font-family: $font;
    margin: 0 2em;;

    h1{
        margin-bottom: .5em;
        text-align: center;
        font-weight: bold;

        @include desktop{
            font-size: 3em;
        }
    }

    @include desktop{
        font-size: 1.4em;
        margin: 0 5em;
    }

    .menu {

        .item-header{
            font-weight: bold;
            margin-bottom: 1em;
            text-transform: uppercase;
            color: $main-color;
            text-align: center;
            border: 1px solid $main-color;
        }
        .combos{
            display: grid;
            grid-template-columns: auto auto;
            margin-bottom: .5em;

            @include laptop {
                grid-template-columns: auto auto auto;
            }

            .item-container{
                padding: 1em;
                
                .item-name{
                    font-weight: bold;
                    text-transform: uppercase;
                    margin-bottom: .5em;
                }

                .item-desc{
                    font-weight: 300;
                }

                .item-price{
                    color: $main-color;
                    text-align: right;
                }
            }
        }

        .final-desc{
            text-align: center;
            margin-bottom: 3em;
            font-weight: bold;
        }

        .final-desc::after{
            content: '';
            margin-top: 2.5em;
            border-top: 1px solid $lighten-black;
            position: absolute;
            width: 30vw;
            transform: translateX(-50%);
            left: 50%;
            
            @include laptop{
                width: 8vw;
            }
        }
    }
}

.contact{
    font-family: $font;
    background: linear-gradient( rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55) ) fixed, url('images/Rack3.jpg') center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    line-height: 2;
    font-size: 1.2em;

    h1{
        font-weight: bold;
        color: $main-color;

        @include desktop{
            font-size: 3.5em;
        }
    }

    .contact-container{
        
        .statement{
            color: $main-color;
        }

        .statement2,
        .number,
        .hours{
            margin-bottom: 1.5em;
        }

        #locationheader,
        #hoursheader {
            text-transform: uppercase;
            margin-bottom: 1em;
            color: $main-color;
        }  
        
        .days{
            font-weight: bolder;
        }

        @include contact{
            display: grid;
            grid-template-columns: auto auto;
        }
    }

    .contact-form{
        padding: 2em 2.5em;
    }
}